doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Fisherman Engineering

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Header
        header.bg-dark.py-5
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-lg-6
                        .text-center.my-5
                            h1.display-5.fw-bolder.text-white.mb-2 Fisherman Engineering
                            p.lead.text-white-50.mb-4 Software Engineering Services  
                            //.d-grid.gap-3.d-sm-flex.justify-content-sm-center
                                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#features') Get Started
                                a.btn.btn-outline-light.btn-lg.px-4(href='#!') Learn More

        // Features section
        section#features.py-5.border-bottom
            .container.px-5.my-5
                .row.gx-5
                    .col-lg-4.mb-5.mb-lg-0
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-code
                        h2.h4.fw-bolder Software Development
                        p
                            i.bi.bi-caret-right-fill
                            | C/C++ Embedded Development
                            br
                            i.bi.bi-caret-right-fill
                            | AUTOSAR Integration
                            br
                            i.bi.bi-caret-right-fill
                            | Software Arhitecture

                    .col-lg-4.mb-5.mb-lg-0
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-search
                        h2.h4.fw-bolder Safety Engineering
                        p
                            i.bi.bi-caret-right-fill
                            | Software Safety Analysis FMEA / FTA / SFA
                            br
                            i.bi.bi-caret-right-fill
                            | Software Safety Architecture
                            br
                            i.bi.bi-caret-right-fill
                            | Software Safety Requirements

                    .col-lg-4
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-signpost-2
                        h2.h4.fw-bolder Project Management
                        p
                            i.bi.bi-caret-right-fill
                            | Team Leading and Coordination
                            br
                            i.bi.bi-caret-right-fill
                            | Project Monitoring
                            br
                            i.bi.bi-caret-right-fill
                            | Ensure Stakeholder Satisfaction


        // Contact section
        section.bg-light.py-5
            .container.px-5.my-5.px-5
                .text-center.mb-5
                    .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                        i.bi.bi-envelope
                    h2.fw-bolder Get in touch
                    p.lead.mb-0 We'd love to hear from you:
                        a(href="mailto:ovidiupescar@fishermanengineering.com") ovidiupescar@fishermanengineering.com 
                //.row.gx-5.justify-content-center
                    .col-lg-6

                        // * * * * * * * * * * * * * * *
                        // * * SB Forms Contact Form * *
                        // * * * * * * * * * * * * * * *

                        // This form is pre-integrated with SB Forms.
                        // To make this form functional, sign up at
                        // https://startbootstrap.com/solution/contact-forms
                        // to get an API token!

                        form#contactForm(data-sb-form-api-token='API_TOKEN')

                            // Name input
                            .form-floating.mb-3
                                input#name.form-control(
                                    type='text',
                                    placeholder='Enter your name...'
                                    data-sb-validations='required'
                                )
                                label(for='name') Full name
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.
                            
                            // Email address input
                            .form-floating.mb-3
                                input#email.form-control(
                                    type='email',
                                    placeholder='name@example.com'
                                    data-sb-validations='required,email'
                                )
                                label(for='email') Email address
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.
                            
                            // Phone number input
                            .form-floating.mb-3
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='(123) 456-7890'
                                    data-sb-validations='required'
                                )
                                label(for='phone') Phone number
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | A phone number is required.
                            
                            // Message input
                            .form-floating.mb-3
                                textarea#message.form-control(
                                    type='text',
                                    placeholder='Enter your message here...',
                                    style='height: 10rem;'
                                    data-sb-validations='required'
                                )
                                label(for='message') Message
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                            // Submit success message
                            //
                            // This is what your users will see when the form
                            // has successfully submitted
                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder Form submission successful!
                                    | To activate this form, sign up at
                                    br
                                    a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

                            // Submit error message
                            //
                            // This is what your users will see when there is
                            // an error submitting the form
                            #submitErrorMessage.d-none
                                .text-center.text-danger.mb-3 Error sending message!

                            // Submit Button
                            .d-grid
                                button#submitButton.btn.btn-primary.btn-lg.disabled(type='submit') Submit

        // Footer
        footer.py-5.bg-dark
            .container.px-5
                p.m-0.text-center.text-white Copyright &copy; Fisherman Engineering 2021

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
